<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% block content %}

    <div class="container">
    {% for cardiologist in cardiologists %}
    <p>{{ cardiologist.full_name }}</p>
    {% endfor %}
    </div>

     <div class="container">
    {% for dermatologist in dermatologists %}
    <p>{{ dermatologist.full_name }}</p>
    {% endfor %}
    </div>

     <div class="container">
    {% for neurologist in neurologists %}
    <p>{{ neurologist.full_name }}</p>
    {% endfor %}
    </div>

{% endblock %}

</body>
</html>